@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


html {
  background-color: #E3E2E0;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  color: #424242;
}

body {
  padding: 1rem;
  margin: 5px auto;
  width: 900px;
  background-color: #FAFAF8;
}

li {
  list-style: none;
  display: inline-block;
}

a:hover {
  background-color: #FAFAF8;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #424242;
}

a:visited {
  color: #424242;
}

header h1 {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-top: .5rem;
  font-size: 18pt;
}

header nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #8F8E8D;
  padding-bottom: 1rem;
}

nav a {
  box-shadow: 5px 3px 3px #424242;
  padding: 5px 10%;
  background-color: #E3E2E0;
}

footer {
  border-radius: 5px;
  background-color: #E3E2E0;
  bottom: 0px;
  width: 100%;
}

main a:hover {
  color: #E3E2E0;
  transition: all 0.3s ease-in-out;
}

/*ZOOM-IN FEATURE*/
/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
position: fixed;
top: -100%;
/*width: 100%;*/
background: rgba(0,0,0,.7);
width: 53.56%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lightbox-target img {
margin: auto;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */
a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}

a img:hover {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
}
