@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


html {
  background-color: #E3E2E0;
  font-family: "Lato", sans-serif;
  font-size: 10pt;
  color: #424242;
}

body {
  padding: 1rem;
  margin: 5px auto;
  width: 900px;
  background-color: #FAFAF8;
}

li {
  list-style: none;
  display: inline-block;
}
a:hover {
  background-color: #FAFAF8;
  transition: all 0.3s ease-in-out;
}

a {
  text-decoration: none;
  color: #424242;
}

a:visited {
  color: #424242;
}
header h1 {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  margin-top: .5rem;
  font-size: 18pt;
}

header nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #8F8E8D;
  padding-bottom: 1rem;
}

nav a {
  box-shadow: 5px 3px 3px #424242;
  padding: 5px 10%;
  background-color: #E3E2E0;
}

footer {
  border-radius: 5px;
  background-color: #E3E2E0;
  bottom: 0px;
  width: 100%;
}

.elder {
  transform: rotate(90deg);
}
